* {
  margin: 0;
  padding: 0;
  background-color: snow;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: snow;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}
.inner-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
  color: #282c3f;
  position: relative;
}
.left-nav {
  display: flex;
  align-items: center;
}
.left-nav div {
  margin: 10px;
}
.logo-div {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.logo-div img {
  width: 100%;
  height: 100%;
}
.addresh-div {
  display: flex;
  align-items: center;
}
.down-arrow {
  color: rgb(255, 166, 0);
  font-size: 25px;
  margin: 3px;
}
.addresh-div span {
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
.addresh-div p {
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.right-nav {
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-right: 20px;
}
.search a {
  list-style: none;
  text-decoration: none;
  color: #282c3f;
}
.right-nav div {
  cursor: pointer;
  margin: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .nav {
    display: flex;
    justify-content: space-between;
    color: #282c3f;
    margin: 0px;
    padding: 0px;
  }
  .inner-nav {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .logo-div {
    width: 13px;
    height: 40px;
    margin: 0px 0px;
    padding: 0px;
  }
  .left-nav div {
    margin: 0px;
    margin-left: 5px;
  }
  .logo-div img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .down-arrow {
    color: rgb(255, 166, 0);
    font-size: 8px;
    margin: 2px;
  }
  .addresh-div span {
    margin: 3px;
    padding: 0px;
    font-size: 8px;
    font-weight: 600;
    text-decoration: underline;
  }
  .addresh-div p {
    margin: 2px;
    font-size: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    opacity: 0.8;
  }
  .right-nav {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 5px;
  }
  .right-nav div {
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.body {
  position: relative;
  top: 125px;
  background-color: snow;
}
.first-carousals {
  margin: 5px 10%;
}
.first-carousals h2 {
  font-size: 25px;
  margin: 10px;
}
.first-carausal-img-div {
  display: flex;
}
.first-carausal-img-div img {
  width: 30%;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .body {
    position: relative;
    top: 70px;
    width: 100%;
    padding: 0px;
  }
  .first-carousals {
    margin: 5px 10%;
    margin: 10px 10%;
  }
  .first-carousals h2 {
    font-size: 25px;
    margin: 5px;
  }
  .first-carausal-img-div {
    display: flex;
  }
  .first-carausal-img-div img {
    width: 30%;
    margin: 10px;
    cursor: pointer;
  }
}

.whatsinmindmain {
  margin: 20px 10%;
  padding: 10px;
}
.whatinmindmap {
  display: flex;
  overflow: scroll;
  margin: 15px;
}
.whatinmindmap::-webkit-scrollbar {
  display: none;
}
.whatinmindcard {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: snow;
  border-radius: 50%;
  cursor: pointer;
}
.whatinmindcard img {
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .whatinmindcard {
    width: 100px;
    height: 60px;
  }
  .whatinmindmap {
    margin: 5px;
    transform: translate(-15px);
  }
}
.hr {
  width: 80%;
  border: 2px solid lightgray;
  margin: auto;
}

.topRestroChainMain {
  padding: 10px;
  margin: 20px 10%;
}
.TopRestroChainMap {
  display: flex;
  overflow: scroll;
  margin: 10px;
}
.TopRestroChainMap a {
  list-style: none;
  text-decoration: none;
  color: #282c3f;
}
.TopRestroChainMap::-webkit-scrollbar {
  display: none;
}
.TopRestroChainCard {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.TopRestroChainCard:hover {
  transform: scale(0.96);
  transition: all 0.15s;
}
.topRestroChainImg {
  width: 19.5rem;
  height: 210px;
}
.topRestroChainImg img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.topRestroChainDetails {
  width: 300px;
  padding: 5px;
  margin: 5px;
}
.topRestroChainDetails div {
  font-size: 20px;
  font-weight: 500;
}
.top-cuisines-div {
  overflow-wrap: break-word;
}
.rating-star {
  background-color: rgb(32, 123, 32);
  color: aliceblue;
  border-radius: 50%;
  font-size: 13px;
  padding: 3px;
}
/* .restroCategoriesmain {
  top: 150px;
  position: relative;
} */

@media screen and (max-width: 700px) {
  .topRestroChainMain {
    padding: 0px;
    margin: 20px 5px;
  }
  .TopRestroChainMap {
    display: flex;
    overflow: scroll;
    margin: 10px;
  }
  .TopRestroChainCard {
    margin: 5px;
    padding: 5px;
  }
  .topRestroChainImg {
    width: 150px;
    height: 100px;
  }
  .topRestroChainDetails {
    width: 100px;
    padding: 10px;
    margin: 10px;
  }
  .topRestroChainDetails div {
    font-size: 13px;
  }
  .rating-star {
    font-size: 8px;
  }
  .topRestroChainMain h2 {
    margin-left: 30px;
    font-size: 20px;
  }
}
.onlineRestroMain {
  margin: 10px 10px;
}
.onlineRestroMain h2 {
  margin-left: 25px;
}
.onlineRestroMap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  margin: 10px 10px;
}
.onlineRestroMap a {
  list-style: none;
  text-decoration: none;
  color: #282c3f;
}

@media screen and (max-width: 700px) {
  .onlineRestroMain {
    margin: 0px 0px;
  }
  .onlineRestroMain h2 {
    margin: 5px 15px;
    font-size: 18px;
  }
  .onlineRestroMap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0px;
    margin: 10px 10px;
  }
  .media {
    width: 100px;
    height: 100px;
  }
  .media .topRestroChainImg {
    width: 100%;
    height: 50%;
  }
  .media .topRestroChainDetails {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 50%;
    overflow: hidden;
  }
  .media .topRestroChainDetails div span {
    width: 100%;
    font-size: 10px;
    overflow: hidden;
  }
  .media .topRestroChainDetails div span .rating-star {
    font-size: 3px;
  }
}

.FooterMain {
  background-color: black;
  padding: 20px;
  top: 30px;
  position: relative;
}
.footerInner {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  margin: 10px 10%;
  padding: 10px;
  background-color: transparent;
}
.footerInner div {
  background-color: transparent;
}
.footerInner div p,
.logo-Footer {
  background-color: transparent;
  color: whitesmoke;
}
.footerInner div h2 {
  background-color: transparent;
  color: whitesmoke;
}
.First-col {
  color: whitesmoke;
}
.FooterLogoDiv {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  font-style: bold;
}
.FooterLogoDiv span {
  background-color: transparent;
}
.logo-Footer {
  font-size: 35px;
}
.First-col p {
  font-size: 18px;
  margin: 20px 20px;
  opacity: 0.8;
  cursor: pointer;
}
.Second-col h2 {
  font-weight: 600;
  font-style: bold;
  margin: 2px 1px;
}
.Second-col p {
  margin: 10px 5px;
  font-size: 18px;
  font-style: bold;
  opacity: 0.8;
  cursor: pointer;
}
.Third-col h2 {
  font-weight: 600;
  font-style: bold;
  margin: 2px 1px;
}
.Third-col p {
  margin: 10px 5px;
  font-size: 18px;
  font-style: bold;
  opacity: 0.8;
  cursor: pointer;
}
.Forth-col h2 {
  font-weight: 600;
  font-style: bold;
  margin: 2px 1px;
}
.Forth-col p {
  margin: 10px 5px;
  font-size: 18px;
  font-style: bold;
  opacity: 0.8;
  cursor: pointer;
}
.Forth-col button {
  background-color: transparent;
  color: snow;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.ForthColArrow {
  background-color: transparent;
  margin: 0px 3px;
}

@media screen and (max-width: 700px) {
  .FooterMain {
    background-color: black;
    padding: 10px;
  }
  .footerInner {
    margin: 10px 0px;
    padding: 0px;
  }
  .FooterLogoDiv {
    margin: 0px;
    font-size: 10px;
  }
  .logo-Footer {
    font-size: 15px;
  }
  .First-col p {
    font-size: 10px;
    margin: 10px 5px;
  }
  .Second-col h2 {
    margin: 0px 0px;
    font-size: 15px;
  }
  .Second-col p {
    margin: 5px 0px;
    font-size: 10px;
  }
  .Third-col h2 {
    margin: 0px 8px;
    font-size: 15px;
  }
  .Third-col p {
    margin: 3px 8px;
    font-size: 10px;
  }
  .Forth-col h2 {
    margin: 0px 0px;
    font-size: 15px;
  }
  .Forth-col p {
    margin: 5px 0px;
    font-size: 10px;
  }
  .Forth-col button {
    padding: 3px;
    font-size: 8px;
  }
  .ForthColArrow {
    margin: 0px 0px;
  }
}

.restroCategoriesmain {
  top: 100px;
  position: relative;
}
.innerSimmerdiv {
  border-bottom: 2px dashed #d3d3d3;
  display: flex;
  width: 50%;
  margin: auto;
}
.innerSimmerDetailsDiv {
  margin: 10px;
  width: 80%;
}
.restroInnerDiv {
  border-bottom: 2px dashed #d3d3d3;
  display: flex;
  width: 50%;
  margin: auto;
}
.restroDetailsdiv {
  margin: 10px;
  width: 80%;
}
.restroName {
  font-size: 23px;
  font-weight: 600;
  padding: 5px;
}
.restroCuisines {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  padding: 5px;
}
.restroArea {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  padding: 5px;
}
.restroRatings {
  width: 11%;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 20%;
}
.starOfStarRating {
  color: green;
}
.starRating {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 5px 3px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr2 {
  border: 1px solid lightgray;
  width: 80%;
  margin: auto;
}
.totalRating {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 3px;
}

.restroPriceDiv {
  width: 50%;
  margin: auto;
  top: 20px;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
.rupeesIcon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
}
.offersdiv {
  position: relative;
  top: 30px;
  width: 50%;
  margin: auto;
  padding: 5px;
  display: flex;
  overflow: scroll;
  justify-content: space-between;
}
.offersdiv::-webkit-scrollbar {
  display: none;
}
.offers {
  border: 1px solid lightgray;
  cursor: pointer;
  margin: 5px;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}
.topOffer {
  width: 200px;
  height: 50px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topOffer img {
  width: 20px;
}

.bottomOffer {
  font-size: 12px;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MenuCarausals {
  position: relative;
  top: 80px;
  padding: 10px;
}
.RestroMenuCarausalDiv {
  width: 50%;
  margin: 20px auto;
  /* text-align: center; */
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.RestroMenuCarausalInnerDiv {
  display: flex;
  justify-content: space-between;
  margin: 2px 10px;
}
.RestroMenuCarausalInnerDiv span:nth-child(2) {
  font-size: 23px;
  font-weight: 600;
}
.RestroMenuCarausalInnerSpan {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
  font-style: bold;
}

@media screen and (max-width: 700px) {
  .restroInnerDiv {
    width: 80%;
  }
  .restroDetailsdiv {
    font-size: 15px;
    margin: 5px 10px;
  }
  .restroRatings {
    margin: 10px;
    padding: 5px;
  }
  .totalRating {
    font-size: 10px;
  }
  .restroPriceDiv {
    /* border: 1px solid red; */
    width: 80%;
  }
  .offersdiv {
    width: 80%;
  }
  .RestroMenuCarausalDiv {
    width: 80%;
  }
}
/* .RestroMenuDropDiv {
  border: 2px solid red;
} */
.InnerMenuMainDiv {
  display: flex;
  margin: 10px 5px;
  border-bottom: 1px solid lightgray;
}
.InnerMenuDivDetails {
  margin: 5px;
  width: 80%;
  font-weight: 500;
  padding: 5px;
}
.InnerMenuDivDetails p {
  margin: 5px 3px;
}
.InnerMenuDivDetails p:nth-child(3) {
  opacity: 0.5;
  font-size: 13px;
  margin: 5px 3px;
}
.InnerMenuDivImg {
  margin: 5px;
  width: 20%;
  display: absolute;
}
.InnerMenuDivImg button {
  position: relative;
  bottom: 40px;
  cursor: pointer;
  left: 35px;
  width: 80px;
  padding: 5px;
  color: rgb(67, 181, 67);
  background-color: white;
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 4;
}
.InnerMenuDivImg img {
  width: 100%;
  height: 100%;
}
.CartDivMain{
  position: relative;
  top: 150px;
}
.CartDivMain h1 {
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}
.CartItems{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid lightgray;

}
.CartItems div {
  margin: 10px;
}
.cartImage {
  width: 30%;
}
.cartImage img {
  width: 100%;
}
.cartDetails{
  width: 30%;
  height: 100%;
}
.cartDetails span {
  display: block;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
}


/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}