* {
  margin: 0;
  padding: 0;
  background-color: snow;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: snow;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}
.inner-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
  color: #282c3f;
  position: relative;
}
.left-nav {
  display: flex;
  align-items: center;
}
.left-nav div {
  margin: 10px;
}
.logo-div {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.logo-div img {
  width: 100%;
  height: 100%;
}
.addresh-div {
  display: flex;
  align-items: center;
}
.down-arrow {
  color: rgb(255, 166, 0);
  font-size: 25px;
  margin: 3px;
}
.addresh-div span {
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
.addresh-div p {
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.right-nav {
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-right: 20px;
}
.search a {
  list-style: none;
  text-decoration: none;
  color: #282c3f;
}
.right-nav div {
  cursor: pointer;
  margin: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .nav {
    display: flex;
    justify-content: space-between;
    color: #282c3f;
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
  }
  .inner-nav {
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .logo-div {
    width: 13px;
    height: 40px;
    margin: 0px 0px;
    padding: 0px;
  }
  .left-nav div {
    margin: 0px;
    margin-left: 5px;
  }
  .logo-div img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .down-arrow {
    color: rgb(255, 166, 0);
    font-size: 8px;
    margin: 2px;
  }
  .addresh-div span {
    margin: 3px;
    padding: 0px;
    font-size: 8px;
    font-weight: 600;
    text-decoration: underline;
  }
  .addresh-div p {
    margin: 2px;
    font-size: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    opacity: 0.8;
  }
  .right-nav {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 5px;
  }
  .right-nav div {
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.body {
  position: relative;
  /* border: 2px solid red; */
  top: 125px;
  padding: 10px;
  background-color: snow;
}
.first-carousals {
  /* border: 2px solid red; */
  margin: 5px 10%;
}
.first-carousals h2 {
  font-size: 25px;
  margin: 10px;
}
.first-carausal-img-div {
  /* border: 2px solid purple; */
  display: flex;
}
.first-carausal-img-div img {
  width: 30%;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .body {
    position: relative;
    /* border: 1px solid red; */
    top: 70px;
    width: 100%;
    padding: 0px;
  }
  .first-carousals {
    /* border: 2px solid red; */
    margin: 5px 10%;
    margin: 10px 10%;
  }
  .first-carousals h2 {
    font-size: 25px;
    margin: 5px;
  }
  .first-carausal-img-div {
    /* border: 2px solid purple; */
    display: flex;
  }
  .first-carausal-img-div img {
    width: 30%;
    margin: 10px;
    cursor: pointer;
  }
}

.whatsinmindmain {
  /* border: 2px solid red; */
  margin: 20px 10%;
  padding: 10px;
}
.whatinmindmap {
  /* border: 2px solid red; */
  display: flex;
  overflow: scroll;
  margin: 15px;
}
.whatinmindmap::-webkit-scrollbar {
  display: none;
}
.whatinmindcard {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: snow;
  border-radius: 50%;
  cursor: pointer;
}
.whatinmindcard img {
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .whatinmindcard {
    width: 100px;
    height: 60px;
  }
  .whatinmindmap {
    /* border: 1px solid red; */
    margin: 5px;
    transform: translate(-15px);
  }
}
.hr {
  width: 80%;
  border: 2px solid lightgray;
  margin: auto;
}

.topRestroChainMain {
  /* border: 2px solid red; */
  padding: 10px;
  margin: 20px 10%;
}
.TopRestroChainMap {
  /* border: 2px solid purple; */
  display: flex;
  overflow: scroll;
  margin: 10px;
}
.TopRestroChainMap a {
  list-style: none;
  text-decoration: none;
  color: #282c3f;
}
.TopRestroChainMap::-webkit-scrollbar {
  display: none;
}
.TopRestroChainCard {
  /* border: 2px solid black; */
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.TopRestroChainCard:hover {
  transform: scale(0.96);
  transition: all 0.15s;
}
.topRestroChainImg {
  /* width:250px; */
  width: 19.5rem;
  height: 210px;
}
.topRestroChainImg img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.topRestroChainDetails {
  /* border: 1px solid red; */
  width: 300px;
  /* height: 100px; */
  padding: 5px;
  margin: 5px;
}
.topRestroChainDetails div {
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 500;
}
.top-cuisines-div {
  overflow-wrap: break-word;
}
.rating-star {
  /* border: 1px solid red; */
  background-color: rgb(32, 123, 32);
  color: aliceblue;
  border-radius: 50%;
  font-size: 13px;
  padding: 3px;
}
/* .restro-menu-div{
  top: 150px;
  position: relative;
} */
.restroCategoriesmain {
  top: 150px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .topRestroChainMain {
    /* border: 2px solid red; */
    padding: 0px;
    margin: 20px 5px;
  }
  .TopRestroChainMap {
    /* border: 2px solid purple; */
    display: flex;
    overflow: scroll;
    margin: 10px;
  }
  .TopRestroChainCard {
    margin: 5px;
    padding: 5px;
  }
  .topRestroChainImg {
    /* width:250px; */
    width: 150px;
    height: 100px;
  }
  .topRestroChainDetails {
    width: 100px;
    padding: 10px;
    margin: 10px;
  }
  .topRestroChainDetails div {
    font-size: 13px;
  }
  .rating-star {
    font-size: 8px;
  }
  .topRestroChainMain h2 {
    margin-left: 30px;
    font-size: 20px;
  }
}
.restroCategoriesmain {
  top: 100px;
  position: relative;
}
.restroInnerDiv {
  border-bottom: 2px dashed #d3d3d3;
  display: flex;
  width: 50%;
  margin: auto;
}
.restroDetailsdiv {
  margin: 10px;
  /* border: 2px solid purple; */
  width: 80%;
}
.restroName {
  font-size: 23px;
  font-weight: 600;
  padding: 5px;
}
.restroCuisines {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  padding: 5px;
}
.restroArea {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  padding: 5px;
}
.restroRatings {
  width: 11%;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 20%;
}
.starOfStarRating {
  color: green;
}
.starRating {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 5px 3px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr2 {
  border: 1px solid lightgray;
  width: 80%;
  margin: auto;
}
.totalRating {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 3px;
}

.restroPriceDiv {
  width: 50%;
  margin: auto;
  top: 20px;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
.rupeesIcon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
}
.offersdiv {
  /* border: 2px solid red; */
  position: relative;
  top: 30px;
  width: 50%;
  margin: auto;
  padding: 5px;
  display: flex;
  overflow: scroll;
  justify-content: space-between;
}
.offersdiv::-webkit-scrollbar {
  display: none;
}
.offers {
  border: 1px solid lightgray;
  cursor: pointer;
  margin: 5px;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}
.topOffer {
  width: 200px;
  height: 50px;
  font-size: 15px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.topOffer img {
  width: 20px;
}

.bottomOffer{
  /* border: 1px solid red; */
  font-size: 12px;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onlineRestroMain{
  margin: 10px 10px;
}
.onlineRestroMain h2 {
  margin-left: 25px;
}
.onlineRestroMap{
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
  margin: 10px 10px;
}